@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.Encryption
@using BhuInfo.Data.Service.Enums
@{
    ViewBag.HeaderClass = "page-header";
    var loggedinuser = Session["bhuinfologgedinuser"] as AppUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="icon" href="~/AppTheme/images/bhuinfo.png" type="image/x-icon">
    <title>@ViewBag.Title</title>


    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", false)
    <style>
        .navbar {
            border: 1px solid transparent;
            margin-bottom: 0;
            min-height: 70px;
            position: relative;
        }

        .navbar-default .navbar-nav > li > a {
            color: white;
            font-family: 'Times-Italic';
            font-style: italic;
            font-weight: 300;
            margin-top: 15px;
            text-decoration: none;
        }

        .navbar-toggle {
            margin-top: 16px;
        }
    </style>

</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Home")">

                    <h1>

                        <img src="~/AppTheme/images/bhuinfo.png" width="100" height="50" />
                    </h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Register", "AppUsers")" style="color: white">Registration</a>
                    </li>
                    @if (ViewBag.Title == "Advertisement")
                    {
                        <li>
                            <a href="@Url.Action("VerifyAccessCode", "Advertisements")" class="active">Advertisement</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("VerifyAccessCode", "Advertisements")" style="color: white">Advertisement</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Contact", "Home")" style="color: white">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

@RenderBody()
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/scripts")
@RenderSection("scripts", false)
</body>
</html>